.cabecalho{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem;
}

.cabecalho__container{
   width: 189px;
}

.cabecalho__logo{
   width: 145px;
}

.cabecalho__pesquisa{
   height: 56px;
   justify-self: center;
   width: 752px;
}

.cabecalho__perfil--espacamento{
   width: 272px;
   display: flex;
   justify-content: flex-end;
}

.cabecalho__mobile{
   display: none;
}

.mobile__menu{
   margin-left: 2.25rem;
}

.mobile__pesquisa{
   display: none;
}

.cabecalho__perfil{
   align-items: center; 
   border-radius: 8px;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   padding: 12px;
   transition: .3s;
}

.cabecalho__perfil:hover{
   background-color: rgba(255, 255, 255, 0.08);
   cursor: pointer;
}

.perfil__img{
   background: url(../img/menu/foto-perfil.svg) center / cover no-repeat;
   border-radius: 100%;
   height: 32px;
   margin-right: 8px;
   width: 32px;
}

.perfil__nome{
   font-weight: 300;
}

@media screen and (max-width: 1300px) {
   
   .cabecalho__perfil--espacamento{
      display: none;
   }

   .cabecalho__mobile{
      display: flex;
      align-items: center;
      margin-left: 3rem;
   }

   .cabecalho__pesquisa{
      width: 70%;
   }

   .cabecalho__container{
      margin-right: 2.5rem;
   }
}

@media screen and (max-width: 768px) {

   .cabecalho{
      padding: 1.5rem 1rem 1rem 1rem;
   }

   .cabecalho__pesquisa{
      display: none;
   }

   .mobile__pesquisa{
      display: initial;
   }
}